.bouton-aligne{
	display:inline-block;
	
	margin:8px 2% 8px 2%;
	text-align:center;
}
input.ng-valid.ng-untouched
{
    border:2px solid  green ;
}

input.ng-invalid.ng-touched
{
    border:2px solid  red ;
}
select.ng-invalid.ng-touched
{
    border:2px solid  red ;
}
input.ng-valid.ng-untouched
{
    border:2px solid  green ;
}

